<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am a 16 year-old high school student in Utah. I am using this website to learn how to code. I am enjoying it and may even have a career in coding.</p>

    <p>There are also a lot of other things I like to do. I enjoy yo-yoing, playing guitar and piano, radio control cars/helicopters, and more. Feel free to contact me, I'll be happy to talk to you.</p>
  </div>
</div>